header{
    width: 100%;
    height: 100vh;
    background:url(https://www.budsies.com/blog/app/uploads/2016/04/paint-brushes.jpg);
    background-size: cover;
    font-family: sans-serif;

}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
   
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}

.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
   border-bottom:2px solid rgb(245, 249, 21);
   transition: 0.2s linear;
}

.menu a:hover::before{
    width: 90%;

}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(92, 115, 244);
    transition: 0.4s;
    
}
.register a:hover{
    background: transparent;
    border: 1px solid yellow;
}


.text{
    max-width: 651px;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%,-50%);
    color:white;
    text-align:centre;
}
.text span{
    letter-spacing: 1px;
    font-size: 1.5em;
    
}
.text h1{
    
font-size: 2.5em;
}
.text a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgb(255, 49, 176);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
.text a:hover{
    background: rgb(253, 253, 253);
    color: rgb(255, 49, 176);
   
    
}
